/american_sign_language.PNG
/amer_sign2.png
/amer_sign3.png
/Assignment3_UMLT_2024_instructions.html
/Assignment3_UMLT_2024_instructions.pdf
/dudu.ipynb
/sign_mnist_description.txt
/sign_mnist_test.csv
/sign_mnist_train.csv
/test.ipynb